/*
* @Author: Polylanger
* @Date:   2018-04-02 20:44:11
* @Last Modified by:   Polylanger
* @Last Modified time: 2018-04-12 15:01:18
*/
/* order-confirm: 订单确认页样式 */
/* 收货地址 */
.address-container {
    margin-right: -20px;
}
.address-container .address-item {
    margin: 20px 20px 0 0;
    padding: 5px 8px;
    width: 223px;
    float: left;
    border: 3px dashed #ccc;
    cursor: pointer;
}
.address-container .address-item.active {
    border: 3px dashed #c60023;
}
.address-container .address-item:hover {
    background: #fafafa;
}
.address-container .address-item .address-title {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    color: #666;
    height: 20px;
    line-height: 20px;
}
.address-container .address-item .address-content {
    margin-top: 5px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #666;
}
.address-container .address-item .address-operation {
    text-align: right;
    visibility: hidden;
}
.address-container .address-item:hover .address-operation {
    visibility: visible;
}
.address-container .address-item .address-operation .link {
    margin-right: 5px;
}
.address-container .address-item.add {
    padding: 13px 8px;
    text-align: center;
    color: #ccc;
}
.address-container .address-item.add .fa {
    font-size: 50px;
    line-height: 50px;
}
.address-container .address-item.add .text {
    font-size: 12px;
}

/* 商品清单 */
.product-table {
    width: 100%;
    margin: 10px 0;
}
.product-table th, 
.product-table td {
    border-bottom: 1px dotted #ddd;
}
.product-table .shop-header {
    background: #eee;
    height: 40px;
    line-height: 40px;
}
.product-table .shop-header .cell-shop-name {
    width: 80%;
    padding-left: 100px;
}
.product-table .shop-header .cell-shop-total {
    width: 20%;
    text-align: center;
    color: #c60023;
    font-size: 16px;
}

.product-table .cell-img {
    width: 10%;
    padding: 10px;
    text-align: center;
}
.product-table .cell-img .p-img {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
}
.product-table .cell-info{
    width: 30%;
    text-align: left;
}
.product-table .cell-price{
    width: 20%;
    text-align: center;
}
.product-table .cell-count{
    width: 20%;
    text-align: center;
}
.product-table .cell-total{
    width: 20%;
    text-align: center;
}

/* 提交订单 */
.submit-container{
    background: #eee;
    text-align: right;
}
.submit-container .submit-total{
    font-size: 18px;
    color: #c60023;
    font-weight: bold;
    vertical-align:middle;
    margin-right: 20px;
}
.submit-container .order-submit{
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
}

/* 错误信息 */
.err-tip{
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    color: #f60;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #eee;
}

/* modal */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
}
.modal .modal-container{
    width: 700px;
    margin: 100px auto;
    background: #fff;
    border-radius: 4px;
    
}
.modal .modal-header{
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}
.modal .modal-title{
    display: inline-block;
    font-size: 16px;
    padding-left: 15px;
}
.modal .modal-header .close{
    font-size: 16px;
    margin: 0 0 0 555px;
    padding: 10px;
    cursor: pointer;
    color: #ccc;

}
.modal .modal-header .close:hover{
    color: #000;
}
.modal .modal-body{
    padding: 15px;
}

/* form */
.form .form-line{
    margin: 5px 0;
    overflow: hidden;

}
.form .form-line .label{
    display: block;
    float: left;
    width: 80px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
    
}
.form .form-line .form-item{
    padding:  0 5px;
    height: 30px;
    line-height: 30px;
    outline: none;
    margin-right: 10px;

}
.form .form-line .btn{
    margin-left: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}