/*
* @Author: Polylanger
* @Date:   2018-04-02 12:12:53
* @Last Modified by:   Polylanger
* @Last Modified time: 2018-04-11 11:24:41
*/
/* cart: 购物车页面样式*/
.cart-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
}

/* 标题栏样式 */
.cart-header {
    background: #eee;
}
.cart-header .cart-cell {
    height: 40px;
    line-height: 40px;
}
/* 复选框样式 */
.cart-table .cell-check {
    width: 6%;
    text-align: left;
    padding-left: 20px;
}

/* 店铺信息样式 */
.cart-shop-info {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 20px;
    margin-top: 10px;
    background: #eee;
}
.cart-shop-info .cart-shop-name {
    float: left;
}
.cart-shop-info .cart-shop-total-price {
    float: right;
    margin-right: 150px;
    font-size: 16px;
    color: #c60023;
}

/* 商品信息样式 */
/* 商品信息中的图片样式 */
.cart-table .cell-img {
    width: 10%;
    text-align: left;
}
.cart-table .cell-img .p-img {
    margin: 10px 0;
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
}
/* 商品信息中的文字描述样式 */
.cart-table .cell-info {
    width: 35%;
    text-align: left;
}
/* 商品信息的标题栏样式 */
.cart-header .cell-info {
    width: 45%;
    padding-left: 106px;
}
/* 商品单价 */
.cart-table .cell-price {
    width: 10%;
    text-align: center;
}
/* 商品数量 */
.cart-table .cell-count {
    width: 15%;
    text-align: center;
}
.cart-table .cell-count .count-input {
    width: 60px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    outline: none;
    color: #333;
}
.cart-table .cell-count .count-btn {
    display: inline-block;
    width: 20px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    -moz-user-select :none;
    -webkit-user-select :none;
    -ms-user-select :none;
    user-select:none;
}

/* 商品总价 */
.cart-table .cell-total {
    width: 14%;
    text-align: center;
}
/* 对商品的操作 */
.cart-table .cell-operation {
    width: 10%;
    text-align: center;
}

/* footer */
.cart-footer {
    margin-top: 10px;
    position: relative;
    line-height: 50px;
    background: #eee;
    overflow: hidden;
}
.cart-footer .select-container {
    float: left;
    padding-left: 20px;
}
.cart-footer .delete-container {
    float: left;
    margin-left: 20px;
}
.cart-footer .submit-container {
    float: right;
    vertical-align: middle;
}
.cart-footer .submit-container .submit-total {
    font-size: 18px;
    color: #c60023;
    font-weight: bold;
    margin-right: 30px;
}
.cart-footer .submit-container .btn-submit {
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/* 错误信息 */
.err-tip{
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    color: #f60;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #eee;
}
