<div class="footer">
	<div class="w">
		<div class="links">
			<a class="link" href="http://www.scu.edu.cn/" target="_blank">四川大学</a> |
			<a class="link" href="http://www.scu.edu.cn/sw/" target="_blank">四川大学软件学院</a> |
			<a class="link" href="http://www.zgny.com.cn/" target="_blank">中国农业网</a> |
			<a class="link" href="http://www.agri.cn/" target="_blank">中国农业信息网</a>
		</div>
		<p class="copyright">
			Copyright © 2018 apec.com All Right Reserved
		</p>
	</div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
