<meta charset="utf-8">
<!-- 默认使用 Edge 代替 IE -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- SEO 优化 -->
<meta name="keywords" content="apec,农产品电商,APEC电商,网上购物,C2C,在线交易,交易市场,网上交易,交易市场,网上买,网上卖,购物网站,网上贸易,安全购物,电子商务,放心买,供应,买卖信息,网店,网上开店,网络购物,打折,免费开店,网购,店铺">
<meta name="description" content="APEC农产品电商平台 - 基于SSM的C2C网上农产品交易平台，提供各类水果、蔬菜、水产、坚果、苗木、花卉盆栽… 数万优质商品，同时提供在线付款等安全交易保障服务，并由商家提供退货承诺、破损补寄等消费者保障服务，让你安心享受网上购物乐趣！"> 
<!-- dns-prefetch：具有此属性的域名不需要用户点击就在后台解析 -->
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//s.apec.com">
<link rel="dns-prefetch" href="//img.apec.com">
<!-- 百度网页统计工具 -->
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?9883ab80aa27e69e9af0694cafa377dd";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>